appdirs>=1.4.4
cvxpy>=1.4.1
frozendict>=2.4.7
html5lib>=1.1
httptools>=0.8.0
ipykernel>=7.3.0
ipython-genutils>=0.2.0
ipywidgets>=8.1.8
itsdangerous>=2.2.0
lxml>=6.1.1
nbformat>=5.10.4
opencv-python>=4.13.0.92
pip>=26.1.1
plotly>=5.18.0
scikit-learn>=1.7.2
seaborn>=0.13.2
streamlit>=1.31.0
ta>=0.11.0
wheel>=0.46.3
yfinance>=1.4.1
shiny>=1.6.3